content
{
    width:75%;
    margin-left:12.5%;
    border: 3px solid #C1CFDD;
    margin-top: 4em;   
}

content h1{
    text-align:center;
    padding-bottom: 5px;
    border-bottom: 3px groove #C1CFDD;   
}


content table thead 
{
    font-weight: bold; 
}

content table thead tr:last-child td
{
    width: 33%;  
}

content table
{
    width: 100%;  
}

content table thead tr:last-child td:first-child label {
    padding-left:10%;   
}

content table thead tr:last-child td:first-child label{
    padding-left:10%;   
}

content table thead tr:last-child td:last-child label{
    float:right;
    padding-right:10%;  
}


content thead tr:first-child td:last-child{
    height:50px;
    background-color: #C1CFDD;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold; 
    text-align:center;
}

content thead tr:first-child td:last-child a{
    text-decoration: none;
    color: black;   
}

content thead tr:last-child td:nth-child(2) {
    text-align:center;
    
}