/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-okt-2017, 18:33:56
    Author     : tom.watteny
*/

content
{
    width:75%;
    margin-left:12.5%;
    border: 3px solid #C1CFDD;
    margin-top: 4em;
    
}

content h1{
    text-align:center;
    padding-bottom: 5px;
    border-bottom: 3px groove #C1CFDD;
    
}

content form li {
    display: inline-block;
    border-color: #C1CFDD;
}


content form table tbody tr td
{
    width:33%;
    
}

content form table
{
    margin-bottom: 20px;
    
}

content form table tbody tr td:first-child label{
    padding-left:10%;
    
}

content form table tbody tr td:last-child label{
    float:right;
    padding-right:8px;
    
}

content form table tbody tr
{
    height: 45px;  
}

.val {
    color:red;
    
}

.g-recaptcha {
    margin-left:25%;
    
}

#regsubmit{
    width: 90%;
    height:80%;
    margin-left:5%;
    margin-right: 5%;
    background-color: #C1CFDD;
    color: white;
    border: none;
    cursor: pointer;
}
